<h1>Click an Artist To View Content</h1>
<%= link_to 'Create a new artist', new_billboard_artist_path(@billboard) %>
<ul>
  <% @artist.each do |artist| %>
    <li><%= link_to artist.name, [@billboard, artist] %></li>
  <% end %>
</ul>
